@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #bfd6e6;
}

p {
	font-family: "Noto Sans", "sans-serif";
}

ul {
	font-family: "Noto Sans", "sans-serif";
	list-style-type: square;
}

h2 {
	padding-bottom: 0.5rem;
}

a {
	text-decoration: none;
}

.container {
  width: 100%;
}

.hero {
  padding: 5rem 5rem 0 5rem;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #172a3a;

  font-family: "gilroy-light", "sans-serif";
}

.glass-card {
	padding: 2rem;
	margin: 2rem;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.80);
	border: 1px solid rgba(209, 213, 219, 0.3);
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

	width: 30rem;
}

#lighter-bg {
	backdrop-filter: blur(16px) saturate(100%);
	-webkit-backdrop-filter: blur(16px) saturate(100%);
	background-color: rgba(255, 255, 255, 0.4);
}

.card-heading {
	font-family: "Noto Sans", "sans-serif";
	color: #5381ac;
	font-size: clamp(1.5rem, 1.5vw, 3rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  color: white;
  font-weight: 300;
  margin: 1rem;
}

.blue {
  color: #8fbbd6;
}

.bld {
	font-family: "gilroy-extrabold", "sans-serif";
}

img {
  width: 20rem;
  height: 20rem;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}

#outline {
  border: 2px solid #EBCB8B;
  padding: 0px;
  margin: 0px
}

#mountain {
  width: 100%;
}

#sky {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  background-image: url("../images/mountains.svg");
  background-size: cover;
  margin: 0px;
  padding: 1rem;
}